version: '3.8'

services:
  # --- SERVIÇO DE BACKEND (API) ---
  fretes-api:
    build:
      context: https://github.com/henriquesergio1/Fretes.git#main
      dockerfile: api/Dockerfile
    container_name: fretes-api
    restart: unless-stopped
    ports:
      - "3030:3000"
    environment:
      - API_PORT=3000
      - DB_SERVER_ODIN=${DB_SERVER_ODIN}
      - DB_DATABASE_ODIN=${DB_DATABASE_ODIN}
      - DB_USER_ODIN=${DB_USER_ODIN}
      - DB_PASSWORD_ODIN=${DB_PASSWORD_ODIN}
      - DB_SERVER_ERP=${DB_SERVER_ERP}
      - DB_DATABASE_ERP=${DB_DATABASE_ERP}
      - DB_USER_ERP=${DB_USER_ERP}
      - DB_PASSWORD_ERP=${DB_PASSWORD_ERP}

  # --- SERVIÇO DE FRONTEND (INTERFACE WEB) ---
  fretes-frontend:
    build:
      context: https://github.com/henriquesergio1/Fretes.git#main
      dockerfile: Dockerfile.frontend
    container_name: fretes-frontend
    restart: unless-stopped
    ports:
      # Expõe a interface do aplicativo na porta 8080 do seu servidor.
      - "8080:80"
    depends_on:
      - fretes-api